<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Flam Backend Assignment</h1>
    <h3>Enjoy your resized image!</h3>
    <h5> Server on port <%= port %> </h5>
    <!-- <img src="<%= resizedImage %>" alt="Resized image" /> -->
    <a href="<%= resizedImage %>" download>
      Click to download resized image
    </a>
    <br>
    <br>
    <a href="<%= resizedImage %>" download>
      <img src="<%= uploadedImage %>" alt="resized image">
    </a>

    <script src="" async defer></script>
  </body>
</html>
